<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorld" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloWorld" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHelloWorld" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/helloworld/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHelloWorld" contract="HelloWorldServiceReference.IHelloWorld"
                name="WSHttpBinding_IHelloWorld">
                <identity>
                    <userPrincipalName value="WIN-3JNNPQMF33S\mohit" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/helloworld/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloWorld" contract="HelloWorldServiceReference.IHelloWorld"
                name="BasicHttpBinding_IHelloWorld" />
            <endpoint address="net.tcp://localhost:8081/helloworld" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHelloWorld" contract="HelloWorldServiceReference.IHelloWorld"
                name="NetTcpBinding_IHelloWorld">
                <identity>
                    <userPrincipalName value="WIN-3JNNPQMF33S\mohit" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>