<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorld" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloWorld" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHelloWorld" />
            </wsHttpBinding>
        </bindings>
        <client>
          <!-- It has created 3 endpoints on the client side, and each one represents one endpoint
          we created on the service side.-->
          <!-- We will use netTcpBinding endpoint in our app, so we will grab the name of this endpoint and 
          jump back with this in our application. 'NetTcpBinding_IHelloWorld' is the name.-->
            <endpoint address="http://localhost:8080/helloworld/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHelloWorld" contract="HelloWorldServiceReference.IHelloWorld"
                name="WSHttpBinding_IHelloWorld">
                <identity>
                    <userPrincipalName value="WIN-3JNNPQMF33S\mohit" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/helloworld/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloWorld" contract="HelloWorldServiceReference.IHelloWorld"
                name="BasicHttpBinding_IHelloWorld" />
            <endpoint address="net.tcp://localhost:8081/helloworld" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHelloWorld" contract="HelloWorldServiceReference.IHelloWorld"
                name="NetTcpBinding_IHelloWorld">
                <identity>
                    <userPrincipalName value="WIN-3JNNPQMF33S\mohit" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>