<?xml version="1.0" encoding="utf-8" ?>
<!-- Although the tutorial depicted creating New Iteam of type 'Application Configuration File',
 We are using existing App.config file in our Cosnole Project. -->
<!-- Start of Behaviours implementation ways. First we will see to enable WSDL
metadata publishing. We will do it using configuration editor, right click on App.config and select 
'Edit WCF configuration.'-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="NoSecurityPlusRm">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="EvalServiceLibrary.EvalService">
        <endpoint address="http://localhost:8080/evals/basic" binding="basicHttpBinding"
          contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="http://localhost:8080/evals/ws" binding="wsHttpBinding"
          bindingConfiguration="NoSecurityPlusRm" contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="net.tcp://localhost:8081/evals" binding="netTcpBinding"
          contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="net.pipe://localhost/evals" binding="netNamedPipeBinding"
          contract="EvalServiceLibrary.IEvalService" />
        <endpoint address="http://localhost:8080/evals/onemore" binding="basicHttpBinding"
          bindingConfiguration="" contract="EvalServiceLibrary.IEvalService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>