<?xml version="1.0" encoding="utf-8" ?>
<!-- Although the tutorial depicted creating New Iteam of type 'Application Configuration File',
 We are using existing App.config file in our Cosnole Project. -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <!--One element for each service.-->
      <service name="EvalServiceLibrary.EvalService">
        <!--Within each service, i can specify my endpoints.-->
        <endpoint address="http://localhost:8080/evals/basic"
                  binding="basicHttpBinding"
                  contract="EvalServiceLibrary.IEvalService"/>
        <endpoint address="http://localhost:8080/evals/ws"
                  binding="wsHttpBinding"
                  contract="EvalServiceLibrary.IEvalService"/>
        <endpoint address="net.tcp://localhost:8081/evals"
                  binding="netTcpBinding"
                  contract="EvalServiceLibrary.IEvalService"/>
        <endpoint address="net.pipe://localhost/evals"
                  binding="netNamedPipeBinding"
                  contract="EvalServiceLibrary.IEvalService"/>
        <!-- After these changes run host again by pressing ctrl+F5.-->
      </service>
    </services>
  </system.serviceModel>
</configuration>