<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEvalService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Evals" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEvalService" contract="EvalServiceReference.IEvalService"
                name="BasicHttpBinding_IEvalService" />
        </client>
    </system.serviceModel>
</configuration>