<?xml version="1.0" encoding="utf-8" ?>

<!-- This file will be helpful in confuguring our service within the test applications that comes
with Visual Studio 2008.-->

<!-- We will need to set up endpoints here -->
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <!-- Update the name of the service -->
      <service name="HelloWorldService.HelloWorldService">
        <host>
          <baseAddresses>
            <!--Changing base address to something simpler.-->
            <add baseAddress = "http://localhost:8080/helloworld" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <!-- Here is, where we will put our endpoints -->
        <!-- Correct the contract name, copy to multiple endpoints -->
        <endpoint address="" binding="basicHttpBinding" contract="HelloWorldService.IHelloWorld">
          <!--Now they put a bunch of stuff, that we are not going to need for this example, so we will remove that.-->          
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
